.Rproj.user
.Rhistory
.RData
.Ruserdata
*.html
original_data/
*.bim
*.fam
*.bed
*.log
*.nosex
*.strand
*.miss
*.multiple
*.pl
*.frq
*.tsv
*.txt
*.P
*.Q
*.RefAlt
*.missnp
workflow/2.estimate_ancestry/ichip1t6_1000G_markers/
workflow/2.estimate_ancestry/ichip7_1000G_markers/
*.imiss
*.lmiss
*.hh
*.sh
*.genome
*.het
*.prune.in
*.prune.out
*.vcf
*.vcf.gz
ichip1t6_eur_vcfs
ichip7_eur_vcfs

